<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre</h2>
      <p class="footer__about-text">
        Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss, é um leite
        divinis, qui tem lupuliz, matis, aguis e fermentis.Suco de cevadiss
        deixa as pessoas mais interessantis.Interagi no mé, cursus quis,
        vehicula ac nisi.Copo furadis é disculpa de bebadis, arcu quam euismod
        magna.
      </p>
    </section>
    <address>
        <h2 class="footer__title">Contato</h2>
        <ul>
            <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
            <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
            <li><i class="fa-brands fa-whatsapp"></i> (00) 0000-0000</li>
        </ul>
    </address>
  </div>
  <section class="footer__copyright">&COPY; Todos os direitos reservados</section>
</footer>
